@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');

body
{
background-color: #1E1E20;
}

.images
  {  
    width: 20%;
  }

h1
  {
    font-family: 'KoHo', sans-serif;
      color: #ff0000;
        font-size: 40px;
      }

p
  {
    font-family: 'KoHo', sans-serif;
      color: #ffffff;
        font-size: 20px;
  }