@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

footer {
	width: 100%;
	height: 20%;
	background: #1d1d1f;
	clear: both;
}

footer div {
	width: 25%;
	height: auto;
	float: left;
	text-align: center;
}

footer div p a {
	color: #d5d5d5;	
	text-decoration: none;
	font-size: 15px;
	font-family: "Oswald", sans-serif;
}

.derechos {
	color: #d5d5d5;
	font-size: 14px;
}
